.nav {
      background-color: #FFB7C5;
      align-items: center;
      display: flex;
      padding: 30px 40px;
      text-decoration: none;
}

.nav a {
      font-weight: bold;
      font-size: 20px;
      font-style: italic;
      color: black;
      text-decoration: none;
}
      


.webpage-contain {
      min-height: 100vh;
      flex-direction: column;
      display: flex;
}

.side {
      margin-right: auto;
      display: flex;
      align-items: centre;
      gap: 72px;
}

