.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFB7C5;
	color: white;
	padding: 16px 32px;
}

.navleft {
	display: flex;
	align-items: center;	
	gap: 16px;
}

.navbutt {
  	background-color: white;
 	color: black;
 	border: 1px solid #ccc; 
 	padding: 8px 12px;
 	margin: 0 5px;
 	cursor: pointer;
 	border-radius: 5px; 
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbutt:{
	background-color: #FF85A2;
	color: white;
}



.navlogo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	border-radius: 4px;
}

.navlogo img {
  	border-radius: 10px;
	cursor: pointer;
}


.navright {
	display: flex;
	align-items: center;
	gap: 16px;
}

.searchbar input {
	padding: 8px;
	border-radius: 4px;
	border: none;
}

.navdes {
	display: flex;
	justify-content: center;
	gap: 80px;
	font-size: 25px;
}

.navdes a {
	background-color: white;
	color: #FF4F87;
	padding: 10px 16px;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
		

.navdes a:hover {
	background-color: #FF85A2;
	color: white;
}


.navdownbar {
	background: #FFB7C5;
	color: white;
	padding: 15px 10px;
}









